#experience {
  height: 100dvh;
}

#experience-list {
  padding-top: calc(var(--navbar-height) + 4rem);
}

.experience-card {
  max-width: 700px;
  width: 100%;
  border-radius: 30px;
  margin: 0 auto;
  padding: 1.25rem;
}

.experience-header {
  line-height: 1.1;
  padding-bottom: 1rem;
}

.experience-org {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 0.5rem;
}

.company-name {
  display: flex;
  gap: 0.5rem
}

.experience-role {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15%;
  color: var(--text-light-main);
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.numeral-text {
  min-width: fit-content;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  font-family: 'Smooch Sans', sans-serif;
}

.experience-text {
  transition: all 0.25s ease-in-out 0.25s;
}

.experience-text > p {
  text-align: left;
  padding: 0.5rem 0rem;
}

.experience-link {
  max-width: fit-content;
  color: var(--text-blue-secondary) !important;
  font-size: 1.25rem !important;
  font-weight: bold !important;
  letter-spacing: 0.1rem;
  text-decoration: none !important;
  cursor: pointer;
}

.platform {
  font-size: 1rem !important;
}

.platform > span {
  color: var(--text-light-main);
}

.experience-link::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background-color: var(--text-blue);
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  opacity: 0.5;
  font-weight: bold;
}

.experience-link:hover::after {
  width: 100%;
}

.read-more-experience {
  display: none !important;
}

@media (max-width: 1000px) and (orientation: landscape) {
  .experience-text > p {
    font-size: 0.875rem;
    padding: 0.25rem 0rem;
  }

  .read-more-experience {
    display: flex !important;
    font-family: inherit !important;
    font-weight: bold !important;
    color: var(--text-light-main) !important;
    text-transform: initial !important;
    position: absolute !important;
    left: 44%;
    margin-top: 1rem !important;
  }
}

@media (max-height: 600px) and (orientation: landscape) {
  #experience-list {
    padding-top:  calc(80px + 2rem);
  }
}

@media (max-height: 600px) {
  #experience {
    height: 100%;
  }
}

@media (max-width: 510px) {
  #experience {
    padding-right: 1rem;
    padding-left: 1rem;
    height: 100%;
  }
  .experience-role {
    justify-content: space-around;
    gap: 0;
  }
  .numeral-text {
    font-size: 1rem;
  }
}