#splash-screen {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animate_splash 0s ease-out 4.5s;
  animation-fill-mode: forwards;
}

@keyframes animate_splash {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  100% {
    display: none;
  }
}

#splash-text {
  height: 72px;
  font-size: 32px;
  font-weight: bold;
  position: relative;
  letter-spacing: -1px;
  overflow: hidden;
}

#letter-b {
  position: absolute;
  top: 0;
  left: 45%;
  color: #42daf5;
  animation: animate_b 1.75s ease-in-out 0.25s;
  animation-fill-mode: forwards;
}

@keyframes animate_b {
  0% {
    left: 45%;
  }
  15% {
    left: 40%;
  }
  50% {
    left: 40%;
  }
  75% {
    left: 8px;
  }
  99% {
    opacity: 1;
  }
  100% {
    left: 8px;
    opacity: 0;
    display: none;
  }
}

#letter-p {
  position: absolute;
  top: 0;
  left: 45%;
  color: #42daf5;
  animation: animate_p 1.75s ease-in 0.25s;
  animation-fill-mode: forwards;
}
@keyframes animate_p {
  0% {
    left: 45%;
  }
  15% {
    left: 50.5%;
  }
  99% {
    opacity: 1;
  }
  100% {
    left: 50.5%;
    opacity: 0;
    display: none;
  }
}

#full-name {
  width: max-content;
  color: #42daf5;
  background-color: transparent;
  animation: animate_name 2.5s ease-in-out 1.75s;
  animation-fill-mode: forwards;
  visibility: hidden;
  padding: 0 8px;
}
@keyframes animate_name {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  10% {
    visibility: visible;
    opacity: 1;
  }
  30% {
    text-shadow:
    0 0 .1px rgba(255, 255, 255, 0),
    0 0 .3px rgba(255, 255, 255, 0),
    0 0 .5px rgba(255, 255, 255, 0),
    0 0 .8px rgba(66, 218, 245, 0),
    0 0 1.3px rgba(66, 218, 245, 0),
    0 0 2.1px rgba(66, 218, 245, 0),
    0 0 3.4px rgba(66, 218, 245, 0),
    0 0 5.5px rgba(66, 218, 245, 0);
  }
  45% {
    text-shadow:
    0 0 1px rgba(255, 255, 255, 0.5),
    0 0 2px rgba(255, 255, 255, 0.5),
    0 0 3px rgba(255, 255, 255, 0.5),
    0 0 4px rgba(66, 218, 245, 0.5),
    0 0 4.5px rgba(66, 218, 245, 0.5),
    0 0 6px rgba(66, 218, 245, 0.5),
    0 0 6.5px rgba(66, 218, 245, 0.5),
    0 0 7px rgba(66, 218, 245, 0.5);
  }
  65% {
    text-shadow:
    0 0 .1px rgba(255, 255, 255, 0),
    0 0 .3px rgba(255, 255, 255, 0),
    0 0 .5px rgba(255, 255, 255, 0),
    0 0 .8px rgba(66, 218, 245, 0),
    0 0 1.3px rgba(66, 218, 245, 0),
    0 0 2.1px rgba(66, 218, 245, 0),
    0 0 3.4px rgba(66, 218, 245, 0),
    0 0 5.5px rgba(66, 218, 245, 0);
  }
  70% {
    margin-top: 0;
    opacity: 1;
  }
  95% {
    margin-top: 35px;
    opacity: 0.5;
  }
  100% {
    display: none;
    margin-top: 70px;
    opacity: 0;
  }
}

#portfolio {
  position: absolute;
  top: 36px;
  left: 0;
  padding-left: 12px;
  padding-bottom: 16px;
  color: var(--text-dark);
  background-color: var(--background-dark);
  font-size: 18px;
  letter-spacing: 16px;
  animation: animate_subtitle 1s ease-in-out 3.25s;
  animation-fill-mode: forwards;
  visibility: hidden;
  z-index: 1;
}

@keyframes animate_subtitle {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  15% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    display: none;
  }
}
