/* animation key frames */

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-down {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  padding: 0 1rem 1rem 2rem;
  background: linear-gradient(107.18deg, rgba(0, 0, 0, 0.85) 50%, rgba(0, 0, 0, 0.55) 100%); 
  animation: fade-down 1s ease-in;
}

#nav-title {
  min-width: 150px;
  color: var(--text-blue);
  font-size: 1.5rem;
  font-weight: bolder;
  cursor: pointer;
  text-decoration: none;
  align-self: center;
  animation: fade-in 600ms ease-in-out;
}

#nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 0 0 0;
  animation: fade-in 600ms ease-in-out;
}

.list-item {
  padding: 0 !important;
}

.li-link {
  text-decoration: none;
}

/* hamburger menu and sidebar */

#nav-menu {
  position: absolute;
  top: 5dvh;
  right: 60px;
  visibility: hidden;
  animation: fade-out 200ms ease-in-out;
}

.menu-icon {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  /* square root of 2 is 1.41421356237 */
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  z-index: 10;
  cursor: pointer;
  animation: fade-down 0.75s ease-in;
}

.menu-icon::before,
.menu-icon input,
.menu-icon::after {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--main-white);
  border-radius: 1rem;
  transform-origin: left center;
  transition: all var(--animation-timing);
}

.menu-icon:hover::before,
.menu-icon:hover::after,
  .menu-icon input:hover {
  border: thin solid var(--text-dark-main);
  box-shadow: 0 0 0 0.5px var(--main-white);
}

.menu-icon input {
  appearance: none;
  outline: none;
  pointer-events: none;
}

.menu-icon:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
  background-color: var(--main-blue);
}

.menu-icon:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
  background-color: var(--main-blue);
}

.menu-item:has(input:focus-visible)::before,
.menu-item:has(input:focus-visible)::after,
.menu-item input:focus-visible {
  border: 1px solid var(--background-dark);
  box-shadow: 0 0 0 1px var(--main-white);
}

.menu-icon input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  min-height: fit-content;
  position: absolute;
  top: -6dvh;
  left: -90px;
  padding-top: 9dvh;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  text-align: right;
  background-color: var(--background-light);
  color: var(--main-blue);
  border-bottom-left-radius: 1rem;
  transition: all var(--animation-timing);
  translate: 200%;
  overflow-y: auto;
}

.menu-icon:has(input:checked) + .sidebar {
  translate: 0%;
}

#nav-list a,
#nav-menu a {
  width: max-content;
  display: block;
  font-size: 1rem;
  font-weight: bolder;
  padding: 1rem;
  color: inherit;
  text-decoration: none;
}

#nav-list a::after,
#nav-menu a::after {
  font-weight: bolder;
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  opacity: 0.85;
}

#nav-list a::after {
  background-color: var(--main-white);
}

#nav-menu a::after {
  background-color: var(--main-blue);
}

#nav-list a:hover::after,
#nav-menu a:hover::after {
  width: 100%;
}

@media (max-width: 900px),
(max-height: 600px) and (max-width: 1200px) {
  #navbar h2 {
    width: auto;
  }
  
  #nav-list {
      visibility: hidden;
      animation: fade-out 300ms ease-in-out;
      width: 0;
      height: 0;
      padding-top: 0;
  
    }
  
    #nav-menu {
      visibility: visible;
      opacity: 1;
      animation: fade-in 300ms ease-in-out;
    }

    .list-item {
      height: 0;
    }
  }

  @media (max-width: 400px) {
    #nav-menu {
      top: 34px;
    }
  }

  @media (max-height: 330px) and (orientation: landscape) {
    .sidebar {
      top: -8dvh;
    }

    .sidebar ul {
      padding-top: 2rem;
    }

    #nav-menu a {
      padding: 0.5rem 1rem;
    }
  }

  @media (orientation: landscape) {
    #navbar {
      padding-right: 0;
      padding-left: 0;
    }

    #nav-title {
      padding: 0 1rem;
    }

    #nav-menu {
      top: 20px;
      right: 40px;
    }

    .menu-icon {
      left: -10px;
    }
  }
