#plant {
  width: 75px;
  height: 130px;
  position: absolute;
  top: 150px;
  left: 360px;
}

.plant-arm {
  width: 5px;
  height: 125px;
  background-color: var(--plant-background);
  border: 1px solid var(--plant-outline);
}

.plant-arm.one {
  position: absolute;
  top: 5px;
  left: 12px;
  transform: skew(20deg, 20deg);
}

.plant-arm.two {
  position: absolute;
  top: -10px;
  left: 25px;
  transform: skew(20deg, 20deg);
  rotate: 20deg;
}

.plant-arm.three {
  position: absolute;
  top: 0;
  left: 40px;
  transform: skew(-20deg, 20deg);
}

.leaf {
  width: 20px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: var(--plant-background);
  border: 2px solid var(--plant-outline);
  border-radius: 35px 50px 20px 20px;
}

.plant-arm.three .leaf-one {
  rotate: 270deg;
}

.leaf.leaf-one {
  position: absolute;
  top: -5px;
  left: -10px;
  rotate: -180deg;
}

.leaf.leaf-two {
  position: absolute;
  top: 5px;
  left: 0px;
  rotate: 45deg;
}

.leaf.leaf-three {
  position: absolute;
  top: 10px;
  left: -20px;
  rotate: 200deg;
}

.leaf.leaf-four {
  position: absolute;
  top: 15px;
  left: -10px;
  rotate: -180deg;
}

.leaf.leaf-five {
  position: absolute;
  top: 20px;
  left: 0;
  rotate: -180deg;
}

.leaf.leaf-six {
  position: absolute;
  top: 30px;
  left: -10px;
  rotate: -180deg;
}

.leaf.leaf-seven {
  position: absolute;
  top: 40px;
  left: 0;
  rotate: -180deg;
}

.leaf.leaf-eight {
  position: absolute;
  top: 50px;
  left: -10px;
  rotate: 0deg;
}

.leaf-line {
  border: 1px solid var(--plant-outline);
  transform: rotate(20deg);
}

.plant-pot {
  width: 55px;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 2.5px;
  background-color: var(--main-tan);
  border-radius: 0 0 25% 25%;
}

.pot-top {
  height: 20px;
  width: 60px;
  position: absolute;
  left: -2.5px;
  background-color: var(--secondary-brown);
}