:root {
  /* colors */
  --main-white: #ffffff;
  --tertiary-white: rgba(255, 255, 255, 0.4);
  --light-white: rgba(255, 255, 255, 0.3);
  --light-secondary-white: rgba(255, 255, 255, 0.2);
  --secondary-white: seashell;
  --main-black: black;
  --main-red: #be3144;
  --main-blue: #45567d;
  --secondary-blue: blue;
  --main-gray: #303841;
  --main-brown: saddlebrown;
  --secondary-brown: peru;
  --main-tan: tan;
  --main-yellow: rgba(255, 255, 0, 0.85);

  --person-hair: #cccccc;
  --person-secondary-hair: silver;
  --person-tertiary-hair: whitesmoke;
  --person-skin: #fdd19b;
  --person-eyes: cornflowerblue; /* cornflowerblue, dodgerblue, royalblue */
  --person-lips: rosybrown;
  --person-shirt: #040404;
  --person-secondary-shirt: mediumorchid;
  --person-pants: #addbee;
  --person-secondary-pants: darkorchid;
  --plant-background: forestgreen;
  --plant-outline: darkgreen;

  --guitar-brown: brown;
  --guitar-background: coral;

  --text-dark-main: rgba(0, 0, 0, 0.7);
  --text-dark-secondary: rgba(0, 0, 0, 0.4);
  --text-dark-tertiary: rgba(0, 0, 0, 0.3);
  --text-dark-light: rgba(0, 0, 0, 0.2);
  --text-light-main: rgba(255, 255, 255, 0.7);
  --text-light-secondary: rgba(255, 255, 255, 0.4);
  --text-light-tertiary: rgba(255, 255, 255, 0.3);
  --text-light-light: rgb(78, 19, 92);
  --text-blue: rgb(130, 250, 244);
  --text-blue-secondary: rgb(130, 250, 244);

  --background-dark: #18191a;
  --background-secondary-dark: #212529;
  --background-glass-light: rgba(255, 255, 255, 0.4);
  --background-glass-dark: rgba(33, 37, 41, 0.3);
  --background-glass-purple: rgba(204, 125, 253, 0.3);
  --background-light: rgba(255, 255, 255, 0.87);
  --background-tan: beige;
  --background-blue: lightskyblue;

  --border-dark: rgba(0, 0, 0, 0.125);
  --border-glass-light: linear-gradient(107.18deg, var(--text-light-tertiary) 1.84%, var(--text-light-light) 100%);
  --border-glass-dark: linear-gradient(107.18deg, var(--text-dark-tertiary) 1.84%, var(--text-dark-light) 100%);

  /* dimensions */
  --navbar-height: clamp(80px, 13dvh, 10rem);
  --bar-width: 2.25rem;
  --bar-height: 0.25rem;
  --hamburger-gap: 0.25rem;
  --hamburger-height: calc((var(--bar-height) * 3) + (var(--hamburger-gap) * 2));

  /* transitions */
  --animation-timing: 200ms ease-in-out;

}

/*
  font families:
    font-family: 'Inclusive Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Smooch Sans', sans-serif;
*/

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body, #root, #app {
  height: 100dvh;
  width: 100dvw;
  /* scroll-behavior: smooth; */
}
body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Raleway', sans-serif !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 1.4 !important;
  color: var(--main-white) !important;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  background-color: var(--background-dark) !important;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  color: var(--text-dark);
}
#root, #__next {
  isolation: isolate;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}

@keyframes fade-in-spline {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.75
  }
}


#app {
  animation: fadeIn 0.75s ease-in;
  opacity: 1;
}

#spline-background {
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  animation: fade-in-spline 1s ease-in 3.5s backwards;
  opacity: 0.75;
}

