:root {
  /* colors */
  --main-white: #f0f0f0;
  --secondary-white: seashell;
  --tertiary-white: rgba(255, 255, 255, 0.4);
  --main-black: black;
  --main-red: #be3144;
  --main-blue: #45567d;
  --secondary-blue: blue;
  --main-gray: #303841;
  --main-brown: saddlebrown;
  --secondary-brown: peru;
  --main-tan: tan;
  --main-yellow: rgba(255, 255, 0, 0.85);

  --person-hair: #cccccc;
  --person-secondary-hair: silver;
  --person-tertiary-hair: whitesmoke;
  --person-skin: #fdd19b;
  --person-eyes: cornflowerblue; /* cornflowerblue, dodgerblue, royalblue */
  --person-lips: rosybrown;
  --person-shirt: #040404;
  --person-secondary-shirt: mediumorchid;
  --person-pants: #addbee;
  --person-secondary-pants: darkorchid;
  --plant-background: forestgreen;
  --plant-outline: darkgreen;

  --guitar-brown: brown;
  --guitar-background: coral;

  --text-dark: #e4e6eb;
  --text-secondary-dark: #b0b3b8;
  --text-blue: #94add7;

  --background-dark: #18191a;
  --background-secondary-dark: #212529;
  --background-light: rgba(255, 255, 255, 0.87);
  --background-tan: beige;
  --background-blue: lightskyblue;

  --border-dark: rgba(0, 0, 0, 0.125);

  /* dimensions */
  --navbar-height: 10%;
  --section-padding-top: calc(var(--navbar-height) + 2rem);
  --bar-width: 2.5rem;
  --bar-height: 0.325rem;
  --hamburger-gap: 0.325rem;
  --hamburger-height: calc((var(--bar-height) * 3) + (var(--hamburger-gap) * 2));

  /* transitions */
  --animation-timing: 200ms ease-in-out;

}

/*
  font families:
    font-family: 'Inclusive Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Smooch Sans', sans-serif;
*/

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Raleway', sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 1.4 !important;
  color: var(--main-white) !important;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  scroll-snap-type: y mandatory !important;
  background-color: var(--background-dark) !important;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  color: var(--text-dark);
}
#root, #__next {
  isolation: isolate;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}

#app {
  animation: fadeIn 1s ease-in;
  opacity: 1;
}