.hero {
  width: clamp(350px, 100%, 660px);
  min-height: clamp(300px, 100%, 420px);
  display: flex;
  transform: scale(0.8, 0.8);
  overflow-x: auto;
  overflow-y: hidden;
  background-color: var(--main-blue);
  border: 0.25rem solid var(--text-secondary-dark);
  border-radius: 35px;
}

.outline-thin {
  border: thin solid var(--main-gray);
}

@media (max-width: 900px) and (orientation: portrait) {
  .hero {
    margin: 0 auto;
  }
}